@font-face {
    font-family: "Iosevka";
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
    src: local("/assets/Iosevka.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Term";
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
    src: local("/assets/IosevkaTerm.woff2") format("woff2");
}

:root {
    --base00: #000000;
    --base01: #121212;
    --base02: #222222;
    --base03: #333333;
    --base04: #999999;
    --base05: #c1c1c1;
    --base06: #999999;
    --base07: #c1c1c1;
    --base08: #5f8787;
    --base09: #aaaaaa;
    --base0A: #8c7f70;
    --base0B: #9b8d7f;
    --base0C: #aaaaaa;
    --base0D: #888888;
    --base0E: #999999;
    --base0F: #444444;

    --font-heading: "Montserrat", sans-serif;
    --font-text: "Iosevka", monospace;
    --font-code: "Iosevka Term", monospace;
}

body {
    container-type: inline-size;
    container-name: body;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    background-color: var(--base00);
    color: var(--base05);
    font-family: var(--font-text);
    font-size: 20px;
    overflow: hidden;

    padding: 1.5rem;
}

main {
    max-width: 700px;
    width: 100%;
    height: 100%;
}

:where(h1, h2) {
    font-family: var(--font-heading);
    font-style: bold;
    text-transform: uppercase;
}

h1 {
    color: var(--base08);
    font-size: 2.8rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    border-bottom: solid 0.25rem var(--base08);
}

h2 {
    color: var(--base0A);
    font-size: 1.8rem;
    margin: 2rem 0 1rem 0;
    letter-spacing: 1px;
    border-bottom: solid 0.25rem var(--base0A);
}

p {
    margin-bottom: 1.5rem;
    color: var(--base05);
    line-height: 1.5;

    :any-link {
        color: var(--base0B) !important;

        &:visited {
            color: currentColor;
        }

        &:hover {
            color: var(--base0A) !important;
        }
    }
}

blockquote {
    border-left: 4px solid var(--base08);
    padding-left: 1.5rem;
    margin: 2rem 0;
    font-style: italic;
    color: var(--base06);
}

.code-block {
    position: relative;
    background-color: var(--base02);
    border: 2px solid var(--base03);
    padding: 1.2em 1em 1em 1em;
    margin: 2em 0;
    font-size: 16px;

    pre {
        overflow-x: auto;
    }

    code {
        font-family: var(--font-code);
    }

    .code-copy {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        border-radius: 0px;
        font-size: 0.9em;
        cursor: pointer;
        opacity: 0.75;
    }

    .code-copy:hover {
        background-color: rebeccapurple;
        opacity: 1;
    }
}

#contact {
}

#socials {
    float: right;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    a:hover {
        /* background-color: var(--base08); */
        background-color: var(--base08);
    }
}

#pfp {
    float: right;
    max-width: 100%;
    height: 200px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    object-position: top;
    object-fit: cover;
    display: block;
    overflow: hidden;
    border: solid 0.25rem var(--base0B);
}

@container body (max-width: 672px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
